<html lang="en">
<head>
  <meta charset="UTF-8">
  <style type="text/css">
    body {
      font-family: sans-serif;
    }

    .tweet-stream {
      margin: 0 auto;
      max-width: 60vw;
      border: 1px solid black;
      border-radius: 10px;
    }

    .user {
      padding: 0.5rem;
      border-bottom: 1px solid black;
    }

    .user img {
      float: left;
      border-radius: 7px;
      margin-right: 10px;
    }

    .user .name {
      font-size: 2rem;
    }

    .user .profile a {
      font-size: 0.8rem;
    }

    .stream-message {
      padding: 0.6rem;
    }

    .stream-message + .stream-message {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .stream-message .link {
      float: right;
      margin-left: 0.5rem;
    }
  </style>
  <title>Twitter Threads</title>
</head>
<body>
  <div class="tweet-stream">
    <div class="user">
      <img src="{{& user.icon }}">
      <div class="name">{{ user.name }}</div>
      <div class="profile">
        <a href="https://twitter.com/{{ user.screen_name }}">{{ user.screen_name }}</a>
      </div>
    </div>
    {{#messages}}
      <div class="stream-message">
        <span class="link">
          <a href="{{& link }}">#</a>
        </span>
        <span class="text">{{ text }}</span>
      </div>
    {{/messages}}
  </div>
</body>
</html>
